<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786937482692-4mq0gb5r9562odnatajo1stpvgaojfpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786937482692-4mq0gb5r9562odnatajo1stpvgaojfpq</string>
	<key>API_KEY</key>
	<string>AIzaSyCWxSDJ-KpE4csMC8TbOD8V3QG_t9YU-1w</string>
	<key>GCM_SENDER_ID</key>
	<string>786937482692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehducation.Ehducation</string>
	<key>PROJECT_ID</key>
	<string>ehducation-3</string>
	<key>STORAGE_BUCKET</key>
	<string>ehducation-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786937482692:ios:fd9e6d530f71f9a28aa891</string>
</dict>
</plist>